.active {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #ffd7d7;
  color: black;
  font-weight: bold;
  height: 75px;
  padding: 0px 15px;
  font-size: 15px;
}

.inactive {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.inactive:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #ffd7d7;
  color: black;
  font-weight: bold;
  height: 75px;
  padding: 0px 15px;
  font-size: 15px;
}
